.loginEmailbox {
    margin: 0px;
    border: 0px;
    padding: 10px 10px;
  }
  
  .passwordlogin {
    margin: 0px;
    border: 0px;
    padding: 10px 10px;
  }
  
  
  .loginForm {
    position: relative;
    padding: 50px 50px;
    background: #fff;
    border-radius: 10px;
  }
  